*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: beige;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 30px;
    top: 0%;
    left: 0%;
    width: 100%;
}

.nav-logo, .nav-link{
    display: flex;
    align-items: center;   
    font-family: sans-serif;
}

.nav-logo {
    font-size: 30px;
}

