{% load static %}

<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<header id="header" class="header">
  <div class="nav-logo">
    <a href="{% url 'home' %}" class="navbrand">FitLife Academy.</a>
  </div>    
  <div class="nav-link">
    <nav class="navbar">
      <a href="{% url 'home' %}"><ul>Home</ul></a>
      <a href="{% url 'about' %}"><ul>About Us</ul></a>
      <a href="{% url 'calorie' %}"><ul>Calorie</ul></a>  
        <ul>
          <a href="{% url 'account' %}">
            {% if request.session.user_first_name %}
              Welcome, {{ request.session.user_first_name }}
            {% else %}
              Account
            {% endif %}
          </a>
        </ul>
      </a>
    </nav>
  </div>
</header>

<p>Session User: {{ request.session.user_first_name }}</p>
<p>User: {{ request.session.user_id }}</p>
{% block content %}
{% endblock content %}
